## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle.

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [3]:
df = pd.read_csv('/Automobile.csv')

**Check the head of the DataFrame.**

In [4]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [5]:
shape = df.shape
print("Rows:", shape[0])

Rows: 201

In [6]:
print("Columns:", shape[1])

Columns: 26

**What is the average Price of all cars in the dataset?**

In [7]:
print("Average Price of All Cars:",df['price'].mean())

Average Price of All Cars: 13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [9]:
print("Cheapest Make:",df.loc[df['price'].idxmin()]['make'])

Cheapest Make: subaru

In [10]:
print("Costliest Make:",df.loc[df['price'].idxmax()]['make'])

Costliest Make: mercedes-benz

**How many cars have horsepower greater than 100?**

In [15]:
print("No.of Cars having hosrepower greater than 100:",len(df[df["horsepower"]>100]))

No.of Cars having hosrepower greater than 100: 90

**How many hatchback cars are in the dataset ?**

In [16]:
print("No.of hatchback body style cars:",len(df[df["body_style"]=="hatchback"]))

No.of hatchback body style cars: 68

**What are the 3 most commonly found cars in the dataset?**

In [38]:
print("Top 3 makers of most commonly found cars:")
pd.DataFrame(df["make"].value_counts().sort_values(ascending=False)).iloc[:3,:0]

Top 3 makers of most commonly found cars:

Empty DataFrame
Columns: []
Index: [toyota, nissan, mazda]

**Someone purchased a car for 7099, what is the make of the car?**

In [45]:
print("Make of car which is of price 7099:",df[df["price"]==7099]["make"])

Make of car which is of price 7099: 87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [43]:
print("Cars Which are priced greater than 40000")
df[df["price"]>40000]

Cars Which are priced greater than 40000

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [46]:
df[(df["body_style"]=="sedan")&(df["price"]<7000)]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
19,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575
24,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
42,0,110,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
50,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
82,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
86,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499
88,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
89,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
118,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
152,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938

 **Count the number of unique values in the `fuel_type` column.**

In [48]:
len(df["fuel_type"].value_counts())

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [49]:
df.loc[(df["horsepower"]>100) & (df["horsepower"]<200),["make","horsepower","price"]]

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

**What is the median `price` for each `make`?**

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

**Count how many cars have a `number_of_doors` as `four`.**

**Find the top 5 cars based on their `highway_mpg` and `price`.**

**How many cars have missing values in the `normalized_losses` column?**

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

### The END